@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #5b64d9;
  --color-secondary: #ec6a8d;
  --color-tertiary: #a645a2;
  --color-dark: #121214;

  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Cantata One", serif;
  --font-tertiary: "Fredoka", sans-serif;
}
